{% load static %}


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">

    <title>Supletorios</title>
</head>

<body>



    <section class="Flex-container">

        <div class="navbar">

            <h1>
                nombre
            </h1>

            <img src="Logo EAFIT 2015 - Blanco.png">

        </div>
        <div class="Box">

            <div class="content">


                <div class="Curse">
                    <div class="c1">
                        <h1>Parcial 1 Limites y Derivadas</h1>
                        <h2>Paola Vallejo Correa</h2>
                        <h3>12/04/2023</h3>
                        <button>Iniciar Supletorio</button>

                    
                    </div>
                    <div class="c2">
                        <h1>Parcial 1 Limites y Derivadas</h1>
                        <h2>Paola Vallejo Correa</h2>
                        <h3>12/04/2023</h3>
                        <button>Iniciar Supletorio</button>

                    
                    </div>


                </div>


            </div>
        </div>


    </section>



</body>

</html>